{%extends "../base/base.html"%}

{%block title%}
    RedditGuessr level 1
{% endblock %}

{%block template%}


<div class="container my-4">
    <div id="quiz-container" class="question-container p-4 rounded shadow bg-light">
        {% include 'game/quiz_fragment.html' with quiz=quiz %}
    </div>
</div>

<script>
    // Function to fetch the next quiz and render it
    function loadNextQuiz(quizId) {
        fetch(`/next-quiz/${quizId}/`, {
            method: 'GET',
            headers: { 'X-Requested-With': 'XMLHttpRequest' },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById('quiz-container').innerHTML = data.html;
            } else {
                document.getElementById('quiz-container').innerHTML = `<p>${data.message}</p>`;
            }
        })
        .catch(error => console.error('Error fetching the next quiz:', error));
    }

    // Event listener for the Submit button
    document.addEventListener('submit', function (event) {
        event.preventDefault();
        const currentQuizId = event.target.dataset.quizId;
        loadNextQuiz(currentQuizId);
    });
</script>



{% endblock %}