
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}
.btn-primary, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
    background-color: #FF5700 !important;
}

.footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: #FF5700;
}

.logo {
    font-family: "Reddit Mono", monospace;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Subtle text shadow for depth */
    margin-top: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
