{% extends "../base/base.html" %}

{% block title %}
    Log In
{% endblock %}

{% load crispy_forms_tags %}

{% block template %}
    <form method="POST" class=" text-center form-group">
        {% csrf_token %}
        {{ form|crispy }}
        <p>You did it dude</p>
        <p>Press the button for no reason</p>
        <p>(or delete your cookies)</p>
        <div class="text-center d-flex justify-content-center gap-3">
            <button class="btn btn-primary rounded-pill"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="text-decoration: underline;">Click me</a></button>
        </div>
    </form>
{% endblock %}